
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.main-header{
    width: 100%;
    height: 800px;
    background-color: #000000;
}

.menu {
    display: flex;
    padding-left: 35px;
}

.menu img{
    width: 7%;
}

.logo{
    width: 50%;
    
}

.logo ul {
    display: flex;
    list-style-type: none;
    margin-top: 36px;
    font-weight: 600;
}

.logo li a{
    margin-right: 40px;
    color: #fff;
    text-decoration: none;
}

.social{
    width: 40%;
}

.social ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-top: 37px;
    font-weight: 600;
}

.social li a{
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
    
}

/* header text css */
.header-text {
    display: flex;
    padding-top: 38px;
}

.form-box {
    width: 45%;
    padding-top: 75px;
    padding-left: 50px;
}

.header-img{
    width: 50%;
    display: flex;
    justify-content: center;
}

.header-img img {
    width: 80%;
    border-radius: 8px;
}

.form-box h1{
    font-size: 52px;
    font-weight: 700;
    color: #fff;
}

.form-box p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 29px;
}

.form-box form input {
    width: 60%;
    display: block;
    padding: 15px 11px;
    margin-bottom: 12px;
    border-radius: 9px;
    /* color: #eeeeee; */
}

.form-box button {
    width: 22%;
    padding: 14px 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 15px;
}

.social button {
    padding: 10px 16px;
    border-radius: 24px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: -10px;
}

/* header text ends */

/* middle-box css start */

section{
    display: flex;
    
}

section.middle {
    padding-top: 50px;
    padding-left: 40px;
}

.middle-box {
    padding: 71px 97px;
}

.middle-box h2{
    font-size: 48px;
    font-weight: 700;
}

.middle-box p {
    width: 77%;
    font-size: 16px;
    font-weight: 400;
}

 .started{
    font-size: 16px;
    padding: 14px 25px;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-top: 20px;
}

.account{
    font-size: 16px;
    color: #000000;
    border-style: none;
    background-color:#FFFFFF ;
    border-bottom: 1px solid rgb(203 203 203);
    margin-left: 17px;
    
}

.business {
    padding: 82px 45px 20px 15px;
}

.uber-img img{
    border-radius: 9px;
}

.uber-business {
    padding: 94px 63px;
}

.uber-business h2{
    font-size: 46px;
    font-weight: 700;

}

.uber-business p {
    width: 77%;
    font-size: 16px;
    font-weight: 400;
}

.rent {
    padding: 65px 0px 20px 60px;
}

.rent-text {
    padding: 71px 97px;
}

.rent-text h2{
    font-size: 36px;
    font-weight: 700;

}

.rent-text p {
    width: 77%;
    font-size: 16px;
    font-weight: 400;
}

/* barcode css */

.barcode {
    background-color: #f6f6f6;
    padding: 38px 10px 55px 55px;
}

.barcode h2{
    font-size: 36px;
    font-weight: 600;
}

.barbox{
    display: flex;
}

.bar1 {
    width: 40%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin-right: 44px;
    padding: 20px 20px;
}

.bar1 a {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    /* margin-top: 0px; */
    position: relative;
    top: -70px;
    left: 20px;
}

.bar2{
    width: 40%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 20px 20px;
}

.bar2 a {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    /* margin-top: 0px; */
    position: relative;
    top: -70px;
    left: 20px;
}

/* footer css */

#footer{
    background-color: rgb(0 0 0);
    display: flex;
    justify-content: space-around;
}

footer .left-box {
    padding-left: 35px;
    margin-top: 29px;
}

footer .left-box img{
    width: 40%;
}

footer .left-box h3 {
    color: #fff;
    font-size: 14px;
    position: relative;
    top: -24px;
}

footer .middle-box{
    display: flex;
    align-items: flex-end;
    text-align: center;
    border: 1px solid;

}

footer .middle-box p{
    color: rgb(164 169 169);
    font-size: 14px;
    width: 100%;

}

footer .right-box {
    display: flex;
    align-items: center;
    padding-right: 31px;
}

/* Media Query */

@media screen and (min-width: 414px) and (max-width:576px){

    section{
        display: block;
    }
    .header-text {
        padding-top: 0px;
        display: block;
    }

    .main-header {
        
        height: 856px;
        
    }

    .form-box{
        width: 55%;
    }

    
    .form-box h1{
        font-size: 33px;
    }

    .form-box form input {
        width: 100%;
        
    }
    
    .form-box button{
        width: 53%;
        margin-top: 9px;
    }

    .header-img {
        width: 66%;
        margin-left: 55px;
        margin-top: 34px;
    }

    section.middle {
        padding-left: 0px;
        padding-top: 12px
    }

    .middle .image-box img{
        
            width: 100%;
       
    }

    .middle-box {
        padding: 31px 30px 0px 30px;
        text-align: center;
    }

    .middle-box h2 {
        font-size: 30px;
        
    }

    .middle-box p {
        width: 100%;
        
    }

    button.account {
        margin-top: 27px;
    }

    .business {
        padding: 0px 0px 20px 0px;
    }

    .uber-business {
        padding: 55px 37px 20px 27px;
    }

    .uber-business h2 {
        font-size: 26px;
        text-align: center;
    }
    .uber-business p {
        width: 100%;
        text-align: center;
    }

    .uber-business .mobile{
        margin-left: 94px;
    }

    .uber-img img {
       
        width: 100%;
    }
    .rent {
        padding: 0px 0px 10px 0px;
    }

    .rent-text {
        padding: 26px 50px 50px 50px;
    }

    .rent-text h2 {
        font-size: 26px;
        text-align: center;
    }
    .rent-text p {
        width: 92%;
        
    }

    .barcode {
        padding: 18px 0px 36px 0px;
    }
    .barcode h2 {
        font-size: 28px;
        
    }

    .barbox {
        display: block;
    }

    .bar1{
        width: 100%;

    }

    .bar2{
        width: 100%;
        
    }

    .bar1 a {
        position: static;
        display: block;
        margin-top: 22px;
    }

    .bar2 a {
        position: static;
        display: block;
        margin-top: 22px;
    }
}